body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .register-container {
    background: linear-gradient(to right, #4CAF50, #81C784);
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 100px auto; /* Centered vertically and horizontally */
  }
  
  .register-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left; /* Align labels to the left */
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
  }
  
  .submit-button {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #FF5722;
  }
  